/*estilos gerais*/

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", arial, sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*header*/

.header-bg {
  padding: 20px;
  background-color: #000;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.header-menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu li a {
  position: relative;
  display: inline-block;
  font-size: 18px;
  padding: 16px 0;
  font-weight: 500;
  color: #fff;
}

.header-menu li a::after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 2px;
  margin-top: 4px;
  transition: 0.3s;
  background-color: #ffffff;
}

.header-menu li a:hover:after {
  width: 100%;
}

@media (max-width: 800px) {
  .header-menu {
    gap: 20px;
  }
  .header-menu li a {
    border-radius: 4px;
    padding: 12px 16px;
    background-color: #111;
  }

  .header-menu li a:hover {
    background-color: #2e2e2e;
  }

  .header-menu li a::after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }

  .header-menu a {
    padding: 8px 12px;
    font-size: 14px;
  }
}

/*introducao*/

.main-bg {
  color: #fff;
  background-color: #000;
  box-shadow: inset 0 -120px #ffffff;
}

.introducao {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1200px;
  gap: 0 40px;
  margin: 0 auto;
  padding: 0 20px;
}

.introducao-conteudo {
  padding-bottom: 200px;
  align-self: end;
}

.introducao-conteudo h1 {
  font-size: 64px;
  line-height: 1.125;
  margin-bottom: 32px;
}

.introducao-conteudo p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #b5b5b5;
}

.introducao-conteudo h1 span {
  color: #ffbb00;
}

.introducao a {
  display: inline-block;
  font-size: 18px;
  line-height: 1.33;
  font-weight: bold;
  padding: 16px 32px;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  background: linear-gradient(#ffbb00, #f2a60c);
  color: #332200;
}

.introducao a:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

.introducao img {
  border-radius: 4px;
  height: 100%;
  object-position: bottom right;
  object-fit: cover;
}

/*media query introducao*/

@media (max-width: 600px) {
  .introducao a {
    font-size: 16px;
    padding: 12px 16px;
  }
}

@media (max-width: 1200px) {
  .introducao h1 {
    font-size: 48px;
  }

  .introducao p {
    font-size: 18px;
  }
}

@media (max-width: 800px) {
  .main-bg {
    padding-top: 40px;
    box-shadow: inset 0 -60px #ffffff;
    background-color: #111111;
  }
  .introducao {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .introducao-conteudo {
    padding-bottom: 0;
  }
  .introducao h1 {
    font-size: 32px;
    margin-bottom: 16px;
  }

  .introducao img {
    width: 100%;
    height: 300px;
  }
}
