.bicicletas-bg:nth-child(odd) {
  background: linear-gradient(to right, var(--cor-w) 30%, var(--cor-c11) 0%);
}

.bicicletas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.bicicletas-imagem {
  display: grid;
}

.bicicletas-imagem img {
  grid-area: 1 / 1;
}

.bicicletas-imagem span {
  grid-area: 1 / 1;
  place-self: start end;
  display: inline-block;
  margin-top: 20px;
  padding: 8px 16px 8px 8px;
  border-radius: 4px 0 0 4px;
  background-color: var(--cor-c12);
}

.bicicletas-conteudo {
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: start;
}

.bicicletas-conteudo img {
  width: 24px;
}

.bicicletas h2,
.bicicletas p {
  grid-column: 1 / -1;
}

.bicicletas h2 {
  margin-bottom: 20px;
}

.bicicletas h2::before {
  content: "";
  display: block;
  width: 12px;
  height: 8px;
  margin-bottom: 8px;
  background-color: var(--cor-p1);
}

.bicicletas p {
  margin-bottom: 32px;
}

.bicicletas li {
  display: flex;
  gap: 8px;
  align-items: center;
}

.bicicletas li + li {
  margin-top: 16px;
}

.bicicletas a {
  align-self: end;
}

@media (max-width: 900px) {
  .bicicletas-bg:nth-child(odd) {
    background: var(--cor-c11);
  }

  .bicicletas {
    grid-template-columns: 1fr;
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (max-width: 600px) {
  .bicicletas-conteudo {
    grid-template-columns: 1fr;
  }

  .bicicletas ul {
    display: grid;
    align-items: center;
    font-size: 1rem;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 32px;
  }

  .bicicletas a {
    place-self: start;
  }
}
