.header-bg {
  padding: 20px;
  background-color: #000000;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.header-menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu li a {
  position: relative;
  display: inline-block;
  padding: 16px 0;
}

.header-menu li a::after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 2px;
  margin-top: 4px;
  transition: 0.3s;
  background-color: #ffffff;
}

.header-menu li a:hover:after {
  width: 100%;
}

@media (max-width: 800px) {
  .header-menu {
    gap: 20px;
  }
  .header-menu li a {
    border-radius: 4px;
    padding: 12px 16px;
    background-color: #111;
  }

  .header-menu li a:hover {
    background-color: #2e2e2e;
  }

  .header-menu li a::after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }

  .header-menu a {
    padding: 8px 12px;
    font-size: 14px;
  }
}
