.main-bg {
  background-color: var(--cor-c12);
  box-shadow: inset 0 -120px #ffffff;
}

.introducao {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.introducao-conteudo {
  padding-bottom: 200px;
  align-self: end;
}

.introducao-conteudo h1 {
  margin-bottom: 32px;
}

.introducao-conteudo p {
  margin-bottom: 20px;
}

.introducao img {
  border-radius: 4px;
  width: 100%;
  height: 100%;
  object-position: bottom right;
  object-fit: cover;
}

/*media query introducao*/

@media (max-width: 800px) {
  .main-bg {
    padding-top: 40px;
    box-shadow: inset 0 -60px #ffffff;
    background-color: #111111;
  }
  .introducao {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .introducao-conteudo {
    padding-bottom: 0;
  }

  .introducao h1 {
    margin-bottom: 16px;
  }

  .introducao img {
    width: 100%;
    height: 300px;
  }
}
